name = "yemen-hr-bot"
main = "src/index.ts"
compatibility_date = "2025-01-01"

[triggers]
crons = ["0 * * * *"]  # Every hour

[[kv_namespaces]]
binding = "POSTED_JOBS"
id = "d56f24496a1a48d7bf2cb6a325533d5c"

[vars]
RSS_FEED_URL = "https://rssbridge.prenghy.org/?action=display&bridge=XPathBridge&url=https://yemenhr.com/jobs&item=/html/body/div/main/div/div/div/div/div/div/table/tbody/tr&title=td%5B3%5D/div%5B1%5D/a%5B1%5D/child::node()&content=td%5B4%5D/div%5B1%5D/div%5B1%5D/div%5B1%5D/span%5B1%5D/a%5B1%5D/child::node()&raw_content=on&uri=td%5B3%5D/div%5B1%5D/a%5B1%5D/ancestor-or-self::node()/@href&author=td%5B2%5D/div%5B1%5D/div%5B1%5D/div%5B1%5D/a%5B1%5D/child::node()&timestamp=td%5B5%5D/span%5B1%5D//text()&enclosures=td%5B2%5D/div%5B1%5D/img%5B1%5D/@src&categories=&format=atom"
TELEGRAM_CHAT_ID = "@hr_yemen"

# Secrets (set via wrangler secret put):
# - GEMINI_API_KEY
# - TELEGRAM_BOT_TOKEN
